# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration
 
client_id = "204d55c4dc34850c3820d421098f101b"
name = "Droppin EG"
handle = "droppin-eg-2"
application_url = "https://shopify.droppin-eg.com"
embedded = true
 
[build]
automatically_update_urls_on_dev = false
dev_store_url = "https://droppin-testing.myshopify.com"
 
[webhooks]
api_version = "2025-04"
 
[[webhooks.handlers]]
api_version = "2025-04"
topics = ["APP_UNINSTALLED"]
uri = "/webhooks/app/uninstalled"
 
[[webhooks.handlers]]
api_version = "2025-04"
topics = ["APP_SUBSCRIPTIONS_UPDATE"]
uri = "/webhooks/app/scopes_update"
 
[[webhooks.subscriptions]]
compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
uri = "https://api.droppin-eg.com/webhooks"
 
 
[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products, read_orders, read_customers"
 
[auth]
redirect_urls = [
  "https://droppin-testing.myshopify.com/auth/callback",
  "https://droppin-testing.myshopify.com/auth/shopify/callback",
  "https://droppin-testing.myshopify.com/api/auth/callback"
]
 
[pos]
embedded = false
